.btn-outline-success {
	color: #F2845C;
	border-color: #F2845C;
}

.btn-outline-success:hover {
	background-color: #F2845C;
	border-color: #F2845C;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #F2845C;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(242, 132, 92, .25);
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}